{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}Edit Mobile{% else %}Create Mobile{% endif %}
{% endblock %}

{% block content %}

    <h1 style="text-align: center">{% if form.instance.pk %}Edit Mobile{% else %}Create Mobile{% endif %}</h1>

    <form class="my-form" method="post">
        {% csrf_token %}

        {% if form.errors %}
            <div>
                {{ form.errors }}
            </div>
        {% endif %}

        <label for="{{ form.model.id_for_label }}">Mobile Model:</label>
        {{ form.model }}

        <label for="{{ form.brand.id_for_label }}">Brand:</label>
        {{ form.brand }}

        <label for="{{ form.country.id_for_label }}">Country:</label>
        {{ form.country }}

        <div style="text-align: center">
            <input type="submit" value="Save">
        </div>
    </form>

{% endblock %}
